img {
max-width:100%;
}

.my-box {
    width: 500px;
    height: 500px;
    background-image: url(https://www.asme.org/getmedia/c2c8ea5a-b690-4ba7-92bb-34bd1432862b/book_guide_hero_books.aspx)
background
}